:root {
  // MONOCHROME
  --color-white: #fff;
  --color-black: #101750;
  --color-grey-1: #f8f8fd;
  --color-grey-2: #e5e0fc;
  --color-grey-3: #8a8fb9;

  // COLOURFUL
  --primary-color: #fb2e86;
  --primary-dark-color: #f0056a;
  --primary-light-color: #fc5fa2;

  --secondary-color: #f9ba00;
  --secondary-light-color: #fff3ce;

  --tertiary-color: #7e33e0;

  --danger-color: #fb2448;
  --danger-light-color: #feb9c4;
  --info-color: #603eff;
  --info-light-color: #ddd6ff;
  --success-color: #0cc562;
  --success-dark-color: #00994c;
  --success-light-color: #92f2bf;
}
