h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.078rem;
  text-transform: capitalize;
}

h2 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
  letter-spacing: 0.066rem;
  text-transform: capitalize;
}

h3 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0.054rem;
  text-transform: capitalize;
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.042rem;
  text-transform: capitalize;
}
