.productDetailsDesc {
  width: 100%;
  background-color: var(--color-grey-1);
  display: flex;
  justify-content: center;

  &__content {
    width: 100%;
    max-width: 108.8rem;
    margin-left: 3rem;
  }

  &__heading {
    display: flex;
    gap: 7.2rem;
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--color-black);
    flex-wrap: wrap;
  }

  &__underline {
    width: 14.1rem;
    height: 0.01rem;
    border: 1px solid var(--color-black);
  }

  &__subtitle {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: var(--color-black);
  }

  &__para {
    width: 100%;
    max-width: 108rem;
    margin-top: 1.8rem;
    margin-bottom: 3.2rem;
    display: flex;
  }

  &__text {
    font-family: 'Lato';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-grey-3);
  }

  &__list {
    margin-top: 1.8rem;
    margin-bottom: 6.4rem;
    width: 100%;
    max-width: 102.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & > li {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
